body{
    background-color:white;
    background-image:url('https://wallpaperaccess.com/full/39632.jpg');
}
.class31{
    width:500px;
    height:500px;
    background-color:white;
    margin-left:700px;
    margin-top:250px;
    border-radius:70px;
    background-image:url("https://images.unsplash.com/photo-1612742494452-d1c5aeef156d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBhaW50JTIwZHJvcHxlbnwwfHwwfHw%3D&w=1000&q=80");
}
.class32{
    margin-left:100px;
}
.class41{
    width:500px;
    height:500px;
    background-color:white;
    margin-left:700px;
    margin-top:300px;
    border-radius:70px;
    background-image:url('https://images.unsplash.com/photo-1612742494452-d1c5aeef156d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBhaW50JTIwZHJvcHxlbnwwfHwwfHw%3D&w=1000&q=80');
}
.class42{
    margin-left:790px;
    margin-top:-390px;
}
